/* ----------------------
Project: 
Version: 1.0
Designer: 
Developer: Cliff Wong
Updated: 09/10/18
------------------------ */
/***
 *    ██████╗  ██████╗     ███╗   ██╗ ██████╗ ████████╗    ███████╗██████╗ ██╗████████╗     ██████╗███████╗███████╗
 *    ██╔══██╗██╔═══██╗    ████╗  ██║██╔═══██╗╚══██╔══╝    ██╔════╝██╔══██╗██║╚══██╔══╝    ██╔════╝██╔════╝██╔════╝
 *    ██║  ██║██║   ██║    ██╔██╗ ██║██║   ██║   ██║       █████╗  ██║  ██║██║   ██║       ██║     ███████╗███████╗
 *    ██║  ██║██║   ██║    ██║╚██╗██║██║   ██║   ██║       ██╔══╝  ██║  ██║██║   ██║       ██║     ╚════██║╚════██║
 *    ██████╔╝╚██████╔╝    ██║ ╚████║╚██████╔╝   ██║       ███████╗██████╔╝██║   ██║       ╚██████╗███████║███████║
 *    ╚═════╝  ╚═════╝     ╚═╝  ╚═══╝ ╚═════╝    ╚═╝       ╚══════╝╚═════╝ ╚═╝   ╚═╝        ╚═════╝╚══════╝╚══════╝
 *                                                                                                                 
 *    ██╗   ██╗███████╗███████╗    ██╗     ███████╗███████╗███████╗     ██████╗ ███╗   ██╗██╗  ██╗   ██╗           
 *    ██║   ██║██╔════╝██╔════╝    ██║     ██╔════╝██╔════╝██╔════╝    ██╔═══██╗████╗  ██║██║  ╚██╗ ██╔╝           
 *    ██║   ██║███████╗█████╗      ██║     █████╗  ███████╗███████╗    ██║   ██║██╔██╗ ██║██║   ╚████╔╝            
 *    ██║   ██║╚════██║██╔══╝      ██║     ██╔══╝  ╚════██║╚════██║    ██║   ██║██║╚██╗██║██║    ╚██╔╝             
 *    ╚██████╔╝███████║███████╗    ███████╗███████╗███████║███████║    ╚██████╔╝██║ ╚████║███████╗██║              
 *     ╚═════╝ ╚══════╝╚══════╝    ╚══════╝╚══════╝╚══════╝╚══════╝     ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝              
 *                      

THIS IS SERIOUS - editing just the .css file will result in loss of all work. 



 */
/*TYPOGRAPHY*/
/*colors scheme*/
/*colors */
/*links*/
/*layout*/
/*animation*/
/*mixins*/
/*********************************************************************************************
Global/helper styles
**********************************************************************************************/
:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 16px;
}
body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #231f20;
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 1410px;
  }
}
/*Typography*/
h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Open Sans', sans-serif;
  line-height: calc(1.25em);
  /*@media @mobile{
		line-height: @mobile-scale;
	}*/
}
h1,
.h1 {
  font-size: calc(3.75rem);
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: calc(3.45rem);
  }
}
h2,
.h2 {
  font-size: calc(3.125rem);
}
@media only screen and (max-width: 768px) {
  h2,
  .h2 {
    font-size: calc(2.875rem);
  }
}
h2.subheadline,
.h2.subheadline {
  font-size: calc(2.5rem);
  margin-top: 0;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  h2.subheadline,
  .h2.subheadline {
    font-size: calc(2.3rem);
  }
}
h3,
.h3 {
  font-size: calc(1.875rem);
}
@media only screen and (max-width: 768px) {
  h3,
  .h3 {
    font-size: calc(1.725rem);
  }
}
h4,
.h4 {
  font-size: calc(1.5625rem);
}
@media only screen and (max-width: 768px) {
  h4,
  .h4 {
    font-size: calc(1.4375rem);
  }
}
h5,
.h5 {
  font-size: calc(1.25rem);
}
@media only screen and (max-width: 768px) {
  h5,
  .h5 {
    font-size: calc(1.15rem);
  }
}
p {
  /*.font-size(16px);*/
  /*font-size:@base-font-size;*/
  font-size: 1rem ;
}
.disclaimer {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: calc(18px);
}
.font-light {
  font-weight: 300;
}
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 600;
}
.text-shadow {
  text-shadow: 1px 1px 1px #666666;
}
/*Resposnive Text align-center*/
@media only screen and (max-width: 768px) {
  .col-xs-center {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-sm-center {
    text-align: center;
  }
}
/* ---------------
Colors
------------------*/
.blue {
  color: #1d9bf7;
}
.teal {
  color: #00c2bb;
}
.white {
  color: #ffffff;
}
/* -----------------
Layout
-------------------- */
/*Helper classes*/
.nopad {
  padding: 0 !important;
}
.nomargin {
  margin: 0;
}
.row.row-spacing {
  margin-bottom: 40px;
}
.display-inline {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .display-inline {
    display: block;
  }
}
/*spacing*/
.clear {
  clear: both;
  margin-top: calc(30px);
  margin-bottom: calc(30px);
}
.clear-lg {
  clear: both;
  margin-top: calc(60px);
  margin-bottom: calc(60px);
}
.margin-tb {
  margin-top: calc(20px);
  margin-bottom: calc(20px);
}
.margin-sm-t {
  margin-top: calc(10px);
}
.margin-sm-b {
  margin-bottom: calc(10px);
}
.margin-sm-r {
  margin-right: calc(10px);
}
.margin-sm-l {
  margin-left: calc(10px);
}
.margin-b {
  margin-bottom: calc(20px);
}
.margin-t {
  margin-top: calc(20px);
}
.margin-l {
  margin-left: calc(20px);
}
.margin-r {
  margin-right: calc(20px);
}
.margin-lg-t {
  margin-top: calc(60px);
}
.margin-lg-b {
  margin-bottom: calc(60px);
}
.padding-t {
  padding-top: calc(20px);
}
.padding-b {
  padding-bottom: calc(20px);
}
.padding-r {
  padding-right: calc(20px);
}
.padding-l {
  padding-left: calc(20px);
}
.padding-tb {
  padding-top: calc(20px);
  padding-bottom: calc(20px);
}
.padding-section {
  padding-top: calc(40px);
  padding-bottom: calc(40px);
}
.padding-20 {
  padding: calc(20px);
}
@media only screen and (max-width: 768px) {
  .col-xs-wide {
    width: 65%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-sm-wide {
    width: 65%;
  }
}
/* -----------
Utilities
-------------- */
/*Borders*/
.border-top {
  border-top: 1px solid #dedede;
}
.border-right {
  border-right: 1px solid #dedede;
}
.border-bottom {
  border-bottom: 1px solid #dedede;
}
.border-left {
  border-left: 1px solid #dedede;
}
/*box-shadow*/
.box-shadow {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 768px) {
  .mobile-nofloat {
    float: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .col-xs-center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
/* align icon and text  */
.icon-text-aligner {
  /* add this class to parent element that contains icon + text elements */
  display: flex;
  align-items: center;
}
.icon-text-aligner > *:nth-child(2) {
  margin-left: 4px;
}
.icon-text-aligner .icon {
  color: inherit;
  flex-shrink: 0;
}
/*viewport height*/
.vh100 {
  height: 100vh;
}
.vh50 {
  height: 50vh;
}
/* -----------
cta
-------------- */
a {
  color: #1d9bf7;
}
a:visited {
  color: #1d9bf7;
}
a:hover,
a:focus,
a:active {
  color: #0664a8;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
a.cta {
  background: #1d9bf7;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: calc(24px);
  padding: .5em 1.5em;
  -webkit-border-radius: 0.283em;
  border-radius: 0.283em;
  background-clip: padding-box;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  a.cta {
    white-space: normal;
  }
}
a.cta:visited {
  color: #ffffff;
}
a.cta:hover,
a.cta:focus,
a.cta:active {
  background: #4eb1f9;
  color: #ffffff;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
a.cta.secondary {
  background: #ff970f;
}
a.cta.secondary:hover,
a.cta.secondary:focus,
a.cta.secondary:active {
  background: #ffad42;
  color: #ffffff;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
a.cta.btn-sm {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: calc(21px);
}
a.cta.btn-lg {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: calc(30px);
}
/* ------------
Backgrounds
------------- */
/*White bg*/
.white-bg {
  background: #ffffff;
}
/* Black BG*/
.black-bg {
  background: #231f20;
}
/*5 Column Layout*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
/*  --------------------------------------------------------------------------------------
Quick align with Flex
https://medium.com/codyhouse/speed-up-alignment-in-css-with-flexbox-utility-classes-4030ce88e170
---------------------------------------------------------------------------------------*/
.flex {
  display: flex;
}
.flex .align-center {
  margin: auto;
  align-self: center;
}
.flex .align-left {
  margin-right: auto;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .flex .align-left {
    margin-left: auto;
    margin-right: auto;
  }
}
.flex .align-right {
  margin-left: auto;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .flex .align-right {
    margin-left: auto;
    margin-right: auto;
  }
}
.flex .align-x-center {
  margin-right: auto;
  margin-left: auto;
}
.flex .align-x-left {
  margin-right: auto;
}
.flex .align-x-right {
  margin-left: auto;
}
.flex .align-y-center {
  align-self: center;
}
.flex .align-y-top {
  align-self: flex-start;
}
.flex .align-y-bottom {
  align-self: flex-end;
}
/* ---------------------------------------------------------------------------------------
Icon flip - on "a"
---------------------------------------------------------------------------------------*/
a[aria-expanded=true] .icon {
  transform: rotate(180deg);
  transform-origin: center;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
a[aria-expanded=false] .icon {
  transform-origin: center;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
/* ---------------------------------------------------------------------------------------
navbar toggle - toggle from hamburger to "x"
--------------------------------------------------------------------------------------- */
.navbar-toggle {
  display: block;
  float: left;
  background: transparent ;
  margin-top: 0;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-toggle .icon-bar {
  width: 35px;
  height: 5px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  background: #959799;
  border-radius: 5px;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* ---------------------------------------------------------------------------------------
pano - transparent overlay on mobile
--------------------------------------------------------------------------------------- */
.pano {
  background: url("http://via.placeholder.com/1900x400") center center no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .pano {
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://via.placeholder.com/1900x400") bottom center no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
  }
}
/* ---------------------------------------------------------------------------------------
Sliding Background
https://css-tricks.com/creating-a-css-sliding-background-effect/
---------------------------------------------------------------------------------------*/
.slide-wrapper {
  overflow: hidden;
  position: relative;
}
.slide-wrapper .mask-content {
  position: absolute;
  top: 0;
  width: 100%;
}
.slide-wrapper .pano-content {
  position: absolute;
  padding: 40px;
  width: 100%;
  z-index: 99;
  top: 0;
}
.sliding-bg {
  background: url("../images/Foreground_City2.jpg") repeat-x;
  height: 600px;
  width: 4185px;
  background-size: contain;
  animation: slide 120s linear infinite;
}
@media only screen and (max-width: 768px) {
  .sliding-bg {
    animation: none;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/Foreground_City2.jpg") no-repeat;
    background-position: top center;
    width: auto;
    background-size: cover;
    padding: 40px 0;
    height: 400px;
    background-position: center bottom;
  }
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1440px, 0, 0);
  }
}
/* ---------------------------------------------------------------------------------------
Video - responsive embed
---------------------------------------------------------------------------------------*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*********************************************************************************************
Components
*****************************************************************************************/
/*  --------------------------------------------------------------------------------------
Carousel - with numbered step progress bar
---------------------------------------------------------------------------------------*/
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  width: 33.33%;
  float: left;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: calc(60px);
  position: relative;
  text-align: center;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 50px;
  height: 50px;
  line-height: 45px;
  border: 2px solid #a3a3a3;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #a3a3a3;
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 1;
}
.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: #a3a3a3;
  top: 25px;
  left: -50%;
  /*z-index: -1;*/
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #296595;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  /*&+li:after{
				background:#296595;
			}*/
}
.progressbar li.active:before,
.progressbar li.active:after {
  border-color: #296595;
  background: #296595;
  color: #ffffff;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
.slide-banner .carousel-control {
  /*opacity:1;*/
  width: 10%;
}
.slide-banner .carousel-control.left,
.slide-banner .carousel-control.right {
  background: none;
}
.slide-banner .carousel-control .glyphicon-chevron-left,
.slide-banner .carousel-control .glyphicon-chevron-right,
.slide-banner .carousel-control .icon-next,
.slide-banner .carousel-control .icon-prev {
  color: #296595;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: calc(45px);
}
.slide-banner .carousel-inner {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.slide-banner .carousel-indicators.progressbar {
  position: unset;
  width: unset;
  margin-left: 0;
  height: 50px;
}
.slide-banner .carousel-indicators.progressbar li {
  text-indent: unset;
  margin: 0;
  height: auto;
  background: transparent;
  border: none;
  width: 33.33%;
}
.slide-banner .carousel-indicators.progressbar li:first-child:before {
  margin: 0 0 0 10px;
}
.slide-banner .carousel-indicators.progressbar li:first-child:after {
  content: '';
  left: 10px;
}
.slide-banner .carousel-indicators.progressbar li.step2:after {
  left: 0;
}
.slide-banner .carousel-indicators.progressbar li.step3:before {
  margin: 0 10px 0 0 ;
  float: right;
}
.slide-banner .carousel-indicators.progressbar li.step3:after {
  left: 0;
  width: 90%;
}
.slide-banner .slide-content {
  padding: 5% 0;
}
.slide-banner .slide-content > p {
  padding: 10% 0;
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .slide-banner .slide-content > p {
    padding: 0;
  }
}
/*  --------------------------------------------------------------------------------------
Header/Footer Styles
---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------
Footer
--------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------
Header
--------------------------------------------------------------------------------------- */
/*header styles*/
.header .header-top {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.header .header-row {
  position: relative;
}
.header .navbar {
  margin-bottom: 0;
}
.header .navbar-header {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .header .navbar-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header .top-nav ul {
  margin-top: 10px;
  margin-bottom: 0;
}
.header .top-nav ul a {
  font-size: 16px;
  font-size: 1rem;
  line-height: calc(24px);
  color: #231f20;
}
.header .top-nav ul a:hover,
.header .top-nav ul a:focus,
.header .top-nav ul a:active {
  color: #1d9bf7;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
.header .collapse {
  display: none !important;
}
.header .collapse.in {
  display: block !important;
}
.header .navbar-collapse {
  background: #ffffff;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header .navbar-collapse {
    padding: 10px 0;
  }
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header .navbar-collapse .mega-menu .container {
    width: 100%;
  }
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header .navbar-collapse .mega-menu .sub-section {
    padding-left: 0;
    padding-right: 0;
  }
}
.header .navbar-collapse .mega-menu .section-title {
  margin: 0;
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header .navbar-collapse .mega-menu .section-title {
    position: relative;
  }
}
.header .navbar-collapse .mega-menu .section-title a {
  color: #1d9bf7;
  display: block;
  font-weight: 700;
}
.header .navbar-collapse .mega-menu .section-title a:visited {
  color: #1d9bf7;
}
.header .navbar-collapse .mega-menu .section-title a:hover,
.header .navbar-collapse .mega-menu .section-title a:focus,
.header .navbar-collapse .mega-menu .section-title a:active {
  color: #0664a8;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header .navbar-collapse .mega-menu .section-title a {
    border-bottom: 1px solid rgba(180, 180, 180, 0.35);
    padding: 1rem;
  }
}
.header .navbar-collapse .mega-menu .section-title p {
  margin: 0;
}
.header .navbar-collapse .mega-menu .section-title .icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px)and (max-width: 1280px), only screen and (min-width: 1280px) {
  .header .navbar-collapse .mega-menu .mobile-subnav {
    display: block !important;
  }
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header .navbar-collapse .mega-menu .mobile-subnav {
    border-bottom: 1px solid rgba(180, 180, 180, 0.35);
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.header .navbar-collapse .mega-menu .mobile-subnav li {
  padding-bottom: .5rem;
}
.header .navbar-collapse .mega-menu a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: calc(21px);
  color: #231f20;
}
.header .navbar-collapse .mega-menu a:hover,
.header .navbar-collapse .mega-menu a:focus,
.header .navbar-collapse .mega-menu a:active {
  color: #1d9bf7;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
@media only screen and (max-width: 768px) {
  .header .logo {
    float: right;
  }
}
.header .header-cta {
  float: right;
}
.header .header-lower .lower-menu {
  border-top: 1px solid rgba(180, 180, 180, 0.35);
  padding-top: 10px;
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header .header-lower .lower-menu {
    border: none;
  }
}
.header .social-media {
  padding-left: 0;
}
.header .social-media li {
  float: none;
}
@media only screen and (max-width: 768px) {
  .header .social-media {
    text-align: center;
    padding-top: 10px;
  }
}
/*********************************************************************************************
Page/Location Specific Styles
**********************************************************************************************/
/* --------------------------------------------------------------------------
 IE fixes
 --------------------------------------------------------------------------- */
