/* ---------------------------------------------------------------------------------------
Sliding Background
https://css-tricks.com/creating-a-css-sliding-background-effect/
---------------------------------------------------------------------------------------*/
.slide-wrapper{
	overflow: hidden;
	position:relative;
	.mask-content{
		position:absolute;
		top:0;
		width:100%;

		
	}
	.pano-content{
		position:absolute;
		padding:40px;
		width:100%;
		z-index:99;
		top: 0;
	}
	
}

.sliding-bg {
	background:url("../images/Foreground_City2.jpg") repeat-x;
	height: 600px;
	width: 4185px;
	background-size: contain;

	animation: slide 120s linear infinite;
	
	
	@media @mobile{
		animation:none;
		background:
			linear-gradient(
			    rgba(255, 255, 255, 0.5), 
			    rgba(255, 255, 255, 0.5)
			),
			url("../images/Foreground_City2.jpg")  no-repeat;
			background-position:top center;
			width:auto;
			background-size: cover;
			padding:40px 0;
			height:400px;
			height: 400px;
    	background-position: center bottom;
	}
	
	
	
}


@keyframes slide {
	0%{
		transform: translate3d(0, 0, 0);
	}
	100%{
		transform: translate3d(-1440px, 0, 0);
	}
}